html
{
    height: calc(100% - var(--wp-admin--admin-bar--height, 0px));
}

body
{
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

a,
.ct-link-button
{
    transition: all ease 0.4s !important;
}

a
{
    text-decoration: underline !important;
    text-decoration-color: transparent !important;
    text-underline-offset: 3px !important;
}

a:hover
{
    text-decoration-color: #0f3228 !important;
}

.ct-link-button
{
    text-decoration: none !important;
}

.ct-inner-content
{
    flex-grow: 1;
    overflow: hidden !important; /* Fix les débordements à cause des animations qui viennent des côtés */
}

/* Fix bug affichage map avant acceptation des cookies */
body .cmplz-placeholder-parent,
body .cmplz-placeholder-parent > iframe
{
	  max-height: 400px;
}

/* Affichage cookies PPD */
#cmplz-cookies-overview summary
{
    margin-bottom: 15px;
}

#cmplz-cookies-overview summary *
{
    display: inline;
}

div#cmplz-document
{
    margin-inline: auto;
}

/* Redimensionne le menu burger */
@media(max-width: 1120px)
{
    /* Désactive les animations left et right en responsive pour éviter les bugs d'affichage */
    /*[data-aos$="left"], [data-aos$="right"]
	{
        transform: translate(0) scale(1) !important;
	}*/

    /* Lignes du Burger Menu */
    nav .oxy-nav-menu-hamburger
    {
        width: 35px !important;
        height: 25px !important;
    }
    
    nav .oxy-nav-menu-hamburger-line
    {
        height: 3px !important;
    }
    
    nav.oxy-nav-menu-open .oxy-nav-menu-hamburger .oxy-nav-menu-hamburger-line:first-child
    {
        top: 10px !important;
    }
    
    /* Comportement du menu Tablettes / Mobiles lorsqu'il est ouvert */
    .oxy-nav-menu.oxy-nav-menu-open .oxy-nav-menu-list
    {
        display: flex !important;
        row-gap: 50px !important;
    }

    .oxy-nav-menu.oxy-nav-menu-open .menu-item-has-children > a::after
    {
        display: block !important;
    }
    
    .oxy-nav-menu.oxy-nav-menu-open .menu-item .sub-menu
    {
        padding: 50px 30px 0 !important;
        display: flex !important;
        position: relative !important;
        opacity: 1 !important;
        visibility: visible !important;
        box-shadow: none !important;
        white-space: normal !important;
        row-gap: 50px !important;
    }
    
    .oxy-nav-menu.oxy-nav-menu-open .menu-item .sub-menu li
    {
        position: relative !important;
        padding-left: 15px !important;
    }
    
    .oxy-nav-menu.oxy-nav-menu-open .menu-item .sub-menu li::before
    {
        content: "▸";
        position: absolute;
        top: 25%;
        left: 0;
        font-size: 25px;
    }
    
    nav.oxy-nav-menu-dropdowns .oxy-nav-menu-list li.menu-item a
    {
        font-size: 35px !important;
        line-height: 40px !important;
    }
}
