*,
*::before,
*::after
{
    box-sizing: border-box;
    touch-action: manipulation;
    -webkit-tap-highlight-color: transparent;
    -webkit-font-smoothing: antialiased;
}

html
{
    height: calc(100% - var(--wp-admin--admin-bar--height, 0px));
    overflow-x: hidden;
    font-size: 100%;
    scroll-behavior: smooth;
}

body
{
    min-height: 100%;
    display: flex;
    flex-direction: column;
    text-rendering: optimizelegibility;
    text-wrap: pretty;
}

h1,
h2,
h3,
h4,
h5,
h6
{
    text-wrap: balance;
}

img
{
    -webkit-user-drag: none;
}

a,
.ct-link-button
{
    transition: all ease 0.4s !important;
}

.ct-link-button
{
    text-decoration: none !important;
}

.ct-inner-content
{
    flex-grow: 1;
    overflow: hidden !important; /* Fix les débordements à cause des animations qui viennent des côtés */
}

/* Fix bug affichage map avant acceptation des cookies */
body .cmplz-placeholder-parent,
body .cmplz-placeholder-parent > iframe
{
    height: 400px;
    width: 100%;
}

/* Affichage cookies PPD */
#cmplz-cookies-overview summary
{
    margin-bottom: 15px;
}

#cmplz-cookies-overview summary *
{
    display: inline;
}

div#cmplz-document
{
    margin-inline: auto;
}

/* single post pages */

.single-post .ct-inner-content p
{
    max-width: 1000px;
    margin-inline: auto;
    padding-inline: 20px;
}

.forminator-ui .forminator-label,
.forminator-slider-limit-min,
.forminator-slider-limit-max
{
    color: #000 !important;
    font-weight: 400 !important;
}

.forminator-slider-limit-min,
.forminator-slider-limit-max
{
    font-size: 13px !important;
}

.forminator-ui input,
.forminator-ui textarea
{
    background: none !important;
    border-radius: 8px !important;
    border: 2px solid var(--primary-color) !important;
}

.forminator-ui.forminator-design--default .forminator-label
{
  font-size: 16px !important;
}

.forminator-ui .select2-selection
{
  background: transparent !important;
  border: 2px solid var(--primary-color) !important;
  border-radius: 8px;
}

.forminator-select-dropdown
{
  background: #fff !important;
  border: 2px solid var(--primary-color) !important;
  border-radius: 8px;
}

.forminator-select2 + .forminator-select .selection .select2-selection--single[role="combobox"] .select2-selection__arrow
{
  color: var(--primary-color) !important;
}

.forminator-select-dropdown-container--open .forminator-dropdown--default .select2-results .select2-results__options .select2-results__option:not(.select2-results__option--selected).select2-results__option--highlighted
{
  background: var(--primary-color) !important;
  color: #000 !important;
}

.forminator-ui .select2-selection__placeholder
{
  color: #777771 !important;
}

.forminator-ui.forminator-design--default .forminator-multiselect
{
  border: 2px solid var(--primary-color) !important;
  border-radius: 8px !important;
  background-color: transparent !important;
}

.forminator-ui.forminator-design--default .forminator-multiselect .forminator-option:hover
{
  background: var(--primary-color) !important;
}

.forminator-ui.forminator-design--default .forminator-multiselect::-webkit-scrollbar
{
  width: 8px !important;
}
 
.forminator-ui.forminator-design--default .forminator-multiselect::-webkit-scrollbar-track
{
  border-radius: 5px !important;
}
 
.forminator-ui.forminator-design--default .forminator-multiselect::-webkit-scrollbar-thumb
{
  background-color: #c7c7c7 !important;
  border-radius: 5px !important;
}

.forminator-ui .forminator-slider .forminator-slide
{
    background: transparent !important;
}

.forminator-ui .forminator-slider .ui-slider-range,
.forminator-ui .forminator-slider .ui-slider-handle
{
    background: var(--primary-color) !important;
}

.forminator-ui .forminator-consent__label > p
{
    margin-top: 0 !important;
}

.forminator-ui .forminator-button-submit
{
    display: inline-block !important;
    background: var(--primary-color) !important;
    padding: 13px 30px !important;
    border-radius: 50px !important;
    transition: .4s ease !important;
}

.forminator-ui .forminator-button-submit:hover
{
    transform: scale(1.1) !important;
    box-shadow: none !important;
}

.forminator-checkbox-box
{
  background-color: transparent !important;
  border: 1.5px solid #5b5b5b !important;
  border-radius: 5px !important;
}

.forminator-checkbox-box::before
{
  color: var(--primary-color) !important;
}

.forminator-checkbox__label a
{
  color: #000 !important;
  font-weight: 600;
  text-decoration: 1px underline transparent;
  text-underline-offset: 3px;
  transition: all ease 0.4s;
}

.forminator-checkbox__label a:hover
{
  text-decoration: 1px underline #000;
}
	
/* Oxygen navigation menu */

.oxy-site-navigation ul
{
    flex-wrap: wrap;
}
.oxy-header-container
{
    padding: 0; 
}

/* On cache automatiquement les cols du oxy header s'ils sont vides */
.oxy-header-container > div:empty {
    display: none;
}

 /* ----------------- Cache automatiquement le "Contenu à venir" dès qu'un post est publié sur la page ---------------- */

body:has(.oxy-post) .waiting
{
    display: none !important;
}

/* --------------- Politique de protection des données ----------- */

body:has(#cmplz-document) .ct-inner-content,
.privacy-policy .ct-inner-content
{
    max-width: 1120px !important;
    margin: 0 auto 50px !important;
    padding: 0 30px !important;
}

body:has(#cmplz-document) .ct-inner-content h1,
.privacy-policy .ct-inner-content h1
{
    width: 100% !important;
    text-align: center !important;
    margin: 100px 0 80px !important;
}

body:has(#cmplz-document) #cmplz-document
{
    max-width: unset !important;
}

body:has(#cmplz-document) #cmplz-document p,
body:has(#cmplz-document) .editor-styles-wrapper .cmplz-unlinked-mode p,
body:has(#cmplz-document) #cmplz-document li,
body:has(#cmplz-document) .editor-styles-wrapper .cmplz-unlinked-mode li,
body:has(#cmplz-document) #cmplz-document td,
body:has(#cmplz-document) .editor-styles-wrapper .cmplz-unlinked-mode td
{
    font-size: 1rem !important;
}

/* fix nom des albums avec le module galerie */

.bwg-album :is(.bwg-zoom-effect-overlay, .bwg-title1)
{
    opacity: 1 !important;
}

/* Redimensionne le menu burger (utiliser la media query définie pour le switch en menu mobile) */
@media(max-width: 1120px)
{
    /* Désactive les animations left et right en responsive pour éviter les bugs d'affichage */
    /*[data-aos$="left"], [data-aos$="right"]
	{
        transform: translate(0) scale(1) !important;
        }*/

     /* ------------------ Mobile navigation menu --------------- */
    .oxy-site-navigation li > button > svg
    {
        width: 25px;
    }
  
    .oxy-site-navigation ul
    {
        width: 100% !important;
        justify-content: flex-end;
	align-items: flex-end;
    }

    .oxy-site-navigation li
    {
        text-align: right;
        padding-inline: 32px !important;
	gap: 10px;
        justify-content: flex-end;
	position: relative;
	width: max-content !important;
    }

    .oxy-site-navigation li ul
    {
        min-width: unset;
        width: unset !important;
    }

    .oxy-site-navigation li > button
    {
        margin-right: 0;
        padding: 0;
    }

    .oxy-site-navigation > ul > li > ul > li > a
    {
        max-width: unset !important;
    }

    .oxy-site-navigation li > ul 
    {
        position: absolute !important;
        width: max-content !important;
        display: flex;
        justify-content: flex-end;
    }

    .oxy-site-navigation li > ul li
    {
        width: 100% !important;
    }
  
    .oxy-site-navigation li.oxy-site-navigation__mobile-close-wrapper
    {
        order: 1;
        display: flex !important;
        justify-content: flex-end !important;
    }

    .oxy-header-center
    {
        justify-content: flex-end;
    }

    .oxy-site-navigation li a, .oxy-site-navigation > a
    {
        padding-inline: 0;
    }

    /* ---------- Lignes du Burger Menu ------------- */
    nav .oxy-nav-menu-hamburger
    {
        width: 35px !important;
        height: 25px !important;
    }
    
    nav .oxy-nav-menu-hamburger-line
    {
        height: 3px !important;
    }
    
    nav.oxy-nav-menu-open .oxy-nav-menu-hamburger .oxy-nav-menu-hamburger-line:first-child
    {
        top: 10px !important;
    }
    
    /* Comportement du menu Tablettes / Mobiles lorsqu'il est ouvert */
    .oxy-nav-menu.oxy-nav-menu-open .oxy-nav-menu-list
    {
        display: flex !important;
        row-gap: 50px !important;
    }

    .oxy-nav-menu.oxy-nav-menu-open .menu-item-has-children > a::after
    {
        display: block !important;
    }
    
    .oxy-nav-menu.oxy-nav-menu-open .menu-item .sub-menu
    {
        padding: 50px 30px 0 !important;
        display: flex !important;
        position: relative !important;
        opacity: 1 !important;
        visibility: visible !important;
        box-shadow: none !important;
        white-space: normal !important;
        row-gap: 50px !important;
    }
    
    .oxy-nav-menu.oxy-nav-menu-open .menu-item .sub-menu li
    {
        position: relative !important;
        padding-left: 15px !important;
    }
    
    .oxy-nav-menu.oxy-nav-menu-open .menu-item .sub-menu li::before
    {
        content: "▸";
        position: absolute;
        top: 25%;
        left: 0;
        font-size: 25px;
    }
    
    nav.oxy-nav-menu-dropdowns .oxy-nav-menu-list li.menu-item a
    {
        font-size: 35px !important;
        line-height: 40px !important;
    }
}

@media (max-width: 1050px)
{
  .oxy-gallery.oxy-gallery-masonry
  {
    column-count: 3 !important;
  }
}

@media (max-width: 550px)
{
  .oxy-gallery.oxy-gallery-masonry
  {
    column-count: 2 !important;
  }
}

/* Forcer une Sentance Case sur les éléments de listes */
ul li,
ol li
{
  text-transform: lowercase;
}

ul li::first-letter,
ol li::first-letter
{
  text-transform: uppercase;
}

.oxy-site-navigation > ul > li:has(ul) > a /* Désactivation des liens parents de dropdowns */
{
  pointer-events: none;
}
