:root
{
  --primary-color: color(1);
}

::selection
{
  color: #000;
  background: var(--primary-color);
}

::-moz-selection
{
  color: #000;
  background: var(--primary-color);
}

*,
*::before,
*::after
{
    box-sizing: border-box;
    touch-action: manipulation;
    -webkit-tap-highlight-color: transparent;
    -webkit-font-smoothing: antialiased;
}

html
{
    height: calc(100% - var(--wp-admin--admin-bar--height, 0px));
    overflow-x: hidden;
    font-size: 100%;
    scroll-behavior: smooth;
}

body
{
    min-height: 100%;
    display: flex;
    flex-direction: column;
    text-rendering: optimizelegibility;
    text-wrap: pretty;
}

h1,
h2,
h3,
h4,
h5,
h6
{
    text-wrap: balance;
}

img
{
    -webkit-user-drag: none;
}

/* [DEBUT] BREAKPOINT CUSTOM - BURGER MENU */

/* @media (max-width: 1120px) 
{
    .oxy-nav-menu-open,
    .oxy-nav-menu:not(.oxy-nav-menu-open) .menu-item 
    {
        display: none;
    }
    
    .oxy-nav-menu-hamburger-wrap 
    {
        display: flex !important;
    }
    
    .oxy-nav-menu.oxy-nav-menu-open
    {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        z-index: 999;
    }
    
    .oxy-nav-menu.oxy-nav-menu-open .menu-item 
    {
        display: block;
    }
    
    #-site-navigation-10-24.oxy-site-navigation > ul 
    {
        position: fixed;
        top: 0;
        flex-direction: column;
        height: 100vh;
        width: 300px;
        padding: 64px 0px;
        overflow: auto;
        background-color: var(--oxynav-neutral-color);
        box-shadow: 0px 12.5px 10px rgba(0, 0, 0, 0.035), 0px 100px 80px rgba(0, 0, 0, 0.07);
        margin-block-end: 0px;
        margin-block-start: 0px;
        z-index: 9999;
    }
}

@media (min-width: 1121px) and (max-width: 1400px) 
{
    .oxy-nav-menu .menu-item 
    {
        display: block !important;
    }
    
    .oxy-nav-menu-hamburger-wrap,
    .oxy-site-navigation .oxy-site-navigation__mobile-open-button,
    .oxy-site-navigation .oxy-site-navigation__mobile-close-wrapper
    {
        display: none !important;
    }

    .oxy-site-navigation > ul:not(.open)
    {
        display: flex !important;
    }

    .oxy-site-navigation > ul > li
    {
         width: fit-content !important;
    }
    
    .oxy-site-navigation > ul 
    {
        position: static !important;
        top: auto !important;
        flex-direction: row !important;
        height: auto !important;
        width: auto !important;
        padding: initial !important;
        overflow: visible !important;
        background-color: transparent !important;
        box-shadow: none !important;
        margin-block-end: initial !important;
        margin-block-start: initial !important;
        z-index: auto !important;
    }
} */

/* [FIN] BREAKPOINT CUSTOM - BURGER MENU */

.oxy-site-navigation li a,
.oxy-site-navigation ul > li.current-menu-item > ul > li > a,
.oxy-site-navigation ul > li:hover > ul > li > a,
.footer-links,
.copyright a
{
  text-decoration: underline 2px transparent !important;
  text-underline-offset: 6px !important;
}

.oxy-site-navigation li.current-menu-item a,
.oxy-site-navigation li:hover a,
.oxy-site-navigation ul > li > ul > li:hover > a
{
  text-decoration-color: var(--primary-color) !important;
}

.footer-links:hover,
.copyright a:hover
{
  text-decoration-color: var(--primary-color) !important;
}

.oxy-site-navigation ul > li > ul > li:hover
{
  background-color: rgba(255, 255, 255, 0.9) !important;
}

/* Désactive le clic sur les liens "vides" (Pour les parents d'un dropdown) */
.oxy-site-navigation ul li a[href="#"]
{
  pointer-events: none;
}

.oxy-rich-text ul,
.oxy-rich-text ol,
.ct-text-block ul,
.ct-text-block ol
{
  padding-left: 20px;
}

.oxy-rich-text ul li,
.oxy-rich-text ol li,
.ct-text-block ul li,
.ct-text-block ol li
{
  margin-bottom: 10px;
}

.oxy-rich-text ul li::marker,
.oxy-rich-text ol li::marker,
.ct-text-block ul li::marker,
.ct-text-block ol li::marker
{
  color: var(--primary-color);
}

.oxy-rich-text ul li:first-letter,
.oxy-rich-text ol li:first-letter,
.ct-text-block ul li:first-letter,
.ct-text-block ol li:first-letter
{
  text-transform: uppercase;
}

a,
.ct-link-button
{
    transition: all ease 0.4s !important;
}

.ct-link-button
{
    text-decoration: none !important;
}

.ct-inner-content
{
    flex-grow: 1;
    overflow: hidden !important; /* Fix les débordements à cause des animations qui viennent des côtés */
}

/* Fix bug affichage map avant acceptation des cookies */
body .cmplz-placeholder-parent,
body .cmplz-placeholder-parent > iframe
{
    height: 400px;
    width: 100%;
}

/* Affichage cookies PPD */
#cmplz-cookies-overview summary
{
    margin-bottom: 15px;
}

#cmplz-cookies-overview summary *
{
    display: inline;
}

div#cmplz-document
{
    margin-inline: auto;
}

/* single post pages */

.single-post .ct-inner-content p
{
    max-width: 1000px;
    margin-inline: auto;
    padding-inline: 20px;
}

.forminator-ui .forminator-label,
.forminator-slider-limit-min,
.forminator-slider-limit-max
{
    color: #000 !important;
    font-weight: 400 !important;
}

.forminator-slider-limit-min,
.forminator-slider-limit-max
{
    font-size: 13px !important;
}

.forminator-ui input,
.forminator-ui textarea
{
    background: none !important;
    border-radius: 8px !important;
    border: 2px solid var(--primary-color) !important;
}

.forminator-ui.forminator-design--default .forminator-label
{
  font-size: 16px !important;
}

.forminator-ui .select2-selection
{
  background: transparent !important;
  border: 2px solid var(--primary-color) !important;
  border-radius: 8px;
}

.forminator-select-dropdown
{
  background: #fff !important;
  border: 2px solid var(--primary-color) !important;
  border-radius: 8px;
}

.forminator-select2 + .forminator-select .selection .select2-selection--single[role="combobox"] .select2-selection__arrow
{
  color: var(--primary-color) !important;
}

.forminator-select-dropdown-container--open .forminator-dropdown--default .select2-results .select2-results__options .select2-results__option:not(.select2-results__option--selected).select2-results__option--highlighted
{
  background: var(--primary-color) !important;
  color: #000 !important;
}

.forminator-ui .select2-selection__placeholder
{
  color: #777771 !important;
}

.forminator-ui.forminator-design--default .forminator-multiselect
{
  border: 2px solid var(--primary-color) !important;
  border-radius: 8px !important;
  background-color: transparent !important;
}

.forminator-ui.forminator-design--default .forminator-multiselect .forminator-option:hover
{
  background: var(--primary-color) !important;
}

.forminator-ui.forminator-design--default .forminator-multiselect::-webkit-scrollbar
{
  width: 8px !important;
}
 
.forminator-ui.forminator-design--default .forminator-multiselect::-webkit-scrollbar-track
{
  border-radius: 5px !important;
}
 
.forminator-ui.forminator-design--default .forminator-multiselect::-webkit-scrollbar-thumb
{
  background-color: #c7c7c7 !important;
  border-radius: 5px !important;
}

.forminator-ui .forminator-slider .forminator-slide
{
    background: transparent !important;
}

.forminator-ui .forminator-slider .ui-slider-range,
.forminator-ui .forminator-slider .ui-slider-handle
{
    background: var(--primary-color) !important;
}

.forminator-ui .forminator-consent__label > p
{
    margin-top: 0 !important;
}

.forminator-ui .forminator-button-submit
{
    display: inline-block !important;
    background: var(--primary-color) !important;
    padding: 13px 30px !important;
    border-radius: 50px !important;
    transition: .4s ease !important;
}

.forminator-ui .forminator-button-submit:hover
{
    transform: scale(1.1) !important;
    box-shadow: none !important;
}

.forminator-checkbox-box
{
  background-color: transparent !important;
  border: 1.5px solid #5b5b5b !important;
  border-radius: 5px !important;
}

.forminator-checkbox-box::before
{
  color: var(--primary-color) !important;
}

.forminator-checkbox__label a
{
  color: #000 !important;
  font-weight: 600;
  text-decoration: 1px underline transparent;
  text-underline-offset: 3px;
  transition: all ease 0.4s;
}

.forminator-checkbox__label a:hover
{
  text-decoration: 1px underline #000;
}

body .forminator-ui.forminator-design--default .forminator-consent,
body .forminator-ui.forminator-design--default .forminator-consent__label,
body .forminator-ui.forminator-design--default .forminator-consent__label p,
body .forminator-checkbox__label a,
body .forminator-ui.forminator-design--default .forminator-textarea,
body .forminator-ui.forminator-design--default .forminator-textarea:hover,
body .forminator-ui.forminator-design--default .forminator-textarea:focus,
body .forminator-ui.forminator-design--default .forminator-textarea:active,
body .forminator-ui.forminator-design--default .forminator-input,
body .forminator-ui.forminator-design--default .forminator-input:hover,
body .forminator-ui.forminator-design--default .forminator-input:focus,
body .forminator-ui.forminator-design--default .forminator-input:active {
  color: currentColor !important;
}
	
/* Oxygen navigation menu */

.oxy-site-navigation ul
{
    flex-wrap: wrap;
}

.oxy-header-container
{
    padding: 0; 
}

/* On cache automatiquement les cols du oxy header s'ils sont vides */
.oxy-header-container > div:empty {
    display: none;
}

 /* ----------------- Cache automatiquement le "Contenu à venir" dès qu'un post est publié sur la page ---------------- */

body:has(.oxy-post) .waiting
{
    display: none !important;
}

/* --------------- Politique de protection des données ----------- */

body:has(#cmplz-document) .ct-inner-content,
.privacy-policy .ct-inner-content
{
    margin: 0 auto 50px !important;
    max-width: 1120px;
    padding: 0 20px !important;
}

body:has(#cmplz-document) .ct-inner-content h1,
.privacy-policy .ct-inner-content h1
{
    width: 100% !important;
    text-align: center !important;
    margin: 100px 0 80px !important;
}

body:has(#cmplz-document) #cmplz-document
{
    max-width: unset !important;
}

body:has(#cmplz-document) #cmplz-document p,
body:has(#cmplz-document) .editor-styles-wrapper .cmplz-unlinked-mode p,
body:has(#cmplz-document) #cmplz-document li,
body:has(#cmplz-document) .editor-styles-wrapper .cmplz-unlinked-mode li,
body:has(#cmplz-document) #cmplz-document td,
body:has(#cmplz-document) .editor-styles-wrapper .cmplz-unlinked-mode td
{
    font-size: 1rem !important;
}

/* fix nom des albums avec le module galerie */

.bwg-album :is(.bwg-zoom-effect-overlay, .bwg-title1)
{
    opacity: 1 !important;
}

/* Redimensionne le menu burger (utiliser la media query définie pour le switch en menu mobile) */
@media (max-width: 1120px)
{
  .oxy-site-navigation > ul
  {
    max-width: 100%; /* Empêche le menu mobile de dépasser de l'écran lorsque le viewport est inférieur à 300px de large */
    justify-content: center;
  }
}

@media (max-width: 1050px)
{
  .oxy-gallery.oxy-gallery-masonry
  {
    column-count: 3 !important;
  }
}

@media (max-width: 750px)
{
  .oxy-gallery.oxy-gallery-masonry
  {
    column-count: 2 !important;
  }
}

@media (max-width: 450px)
{
  .oxy-gallery.oxy-gallery-masonry
  {
    column-count: 1 !important;
  }
}

/* Forcer une Sentance Case sur les éléments de listes */
.ct-text-block ul li,
.ct-text-block ol li,
.oxy-rich-text ul li,
.oxy-rich-text ol li
{
  text-transform: lowercase;
}

.ct-text-block ul li::first-letter,
.ct-text-block ol li::first-letter,
.oxy-rich-text ul li::first-letter,
.oxy-rich-text ol li::first-letter
{
  text-transform: uppercase;
}

/* Désactivation des liens parents de dropdowns */
/*.oxy-site-navigation > ul > li:has(ul) > a
{
  pointer-events: none;
}*/


/* Sunshine Gallery */
#sunshine #sunshine--main .sunshine--container
{
  max-width: 100% !important;
}

#sunshine--main-menu, /* Cache la barre de menu */
#sunshine--image-items figure .sunshine--image-menu ul, /* Cache le panier sur les images */
#sunshine--image-items .sunshine--image-menu, /* Cache le box-shadow */
#sunshine--image-items figure .sunshine--image--name /* Cache le titre de l'image */
{
  display: none !important;
}

#sunshine--gallery-items.sunshine--layout--justified,
#sunshine--image-items.sunshine--layout--justified
{
  gap: 10px !important;
}

#sunshine--gallery-items .sunshine--gallery-item a
{
  overflow: hidden;
}

#sunshine--gallery-items .sunshine--gallery-item a img
{
  transition: all 0.4s ease;
}

#sunshine--gallery-items .sunshine--gallery-item a:is(:hover, :focus, :active) img
{
  transform: scale(1.1);
}


#go-back
{
  position: relative;
  width: fit-content;
  margin-left: 5%;
  margin-bottom: 50px;
  padding: 8px 30px 8px 60px;
  border: 3px solid var(--primary-color);
  border-radius: 50px;
  font-weight: 700;
  cursor: pointer;
  display: flex;
  align-items: center;
  transition: all ease 0.4s;
}

#go-back::before
{
  content: "\f060";
  position: absolute;
  left: 25px;
  font-family: "FontAwesome";
  font-size: 20px;
  transition: all ease 0.4s;
}

#go-back:hover
{
  transform: scale(1.1);
}

#go-back:hover::before
{
  left: 20px;
}

#sunshine--image-items figure.sunshine--image-item
{
  overflow: hidden;
}

#sunshine--image-items figure.sunshine--image-item > a > img
{
  transition: all ease 0.4s;
}

#sunshine--image-items figure.sunshine--image-item:hover > a > img
{
  transform: scale(1.1);
}

/* Lightbox - Sunshine Gallery */
.lightbox
{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: none;
  align-items: center;
  justify-content: center;
  z-index: 1000;
  background: rgba(0, 0, 0, 0.9);
  overflow: hidden;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  backdrop-filter: blur(2px);
}

.lightbox-overlay
{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
}
.lightbox-image-container
{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 90vw;
  max-height: 90vh;
}
.lightbox-image
{
  opacity: 1;
  transition: opacity 0.3s ease;
  max-width: 90vw;
  max-height: 90vh;
  object-fit: contain;
}
.lightbox img[alt]
{
  font-size: 0;
  color: transparent;
}
html:has(body.lightbox-open)
{
  overflow: hidden;
  padding-right: var(--scrollbar-width, 0); /* Compensation pour éviter le saut */
}

/* Lightbox - Sunshine Gallery */

.lightbox-close,
.lightbox-prev,
.lightbox-next
{
  position: absolute;
  background-color: rgba(0, 0, 0, 0.9);
  font-size: 16px;
  cursor: pointer;
  z-index: 1001;
  transition: all ease 0.4s;
}

.lightbox-prev,
.lightbox-next
{
  top: 50%;
  padding: 10px;
  border-radius: 50%;
  border: 2px solid #fff;
  color: #fff;
}

.lightbox-prev
{
  left: 20px;
}

.lightbox-next
{
  right: 20px;
}

.lightbox-close
{
  top: 20px;
  right: 20px;
  padding: 10px 20px;
  border-radius: 50px;
  border: 2px solid #fff;
  color: #fff;
}

.lightbox-prev:hover,
.lightbox-next:hover,
.lightbox-close:hover
{
  transform: scale(0.9);
}

/* Transition au changement d'image (Lightbox) */
.lightbox img
{
  transition: opacity 0.175s ease; /* Transition pour l'opacité */
}

.fade-out 
{
  opacity: 0; /* Rendre l'image transparente */
}

@media (max-width: 500px) 
{
  .lightbox-prev,
  .lightbox-next
  {
     background-color: transparent;
     padding: 15px;
  }
}


/* Rappel immédiat */
#rappel-immediat
{
  z-index: 10; /* Passe sous le menu ouvert en responsive */
}

/* Debug galeries masonry Oxygen */
.oxy-gallery-masonry .oxy-gallery-item .oxy-gallery-item-contents img
{
  min-width: 100%;
  object-fit: cover;
}

/* Comparaison d'images */
.ct-div-block.oxel-image-comparisonv2
{
  min-height: 100%;
  overflow: hidden;
  z-index: 1;
}

.oxel-image-comparisonv2__icon
{
  background-color: transparent !important;
  border: 2px solid #fff;
  backdrop-filter: blur(10px);
}

.ct-fancy-icon.oxel-image-comparisonv2__icon::before,
.ct-fancy-icon.oxel-image-comparisonv2__icon::after
{
  content: "";
  position: absolute;
  height: 500px;
  width: 2px;
  left: calc(50% - 2px);
  background: #fff;
}

.ct-fancy-icon.oxel-image-comparisonv2__icon::before
{
  bottom: 50px;
}

.ct-fancy-icon.oxel-image-comparisonv2__icon::after
{
  top: 50px;
}

.oxel-image-comparisonv2__icon > svg
{
  fill: #fff !important;
}

.ct-new-columns > .ct-div-block:where(:has(> *:only-child), :not(:has(> :not(img)))) {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* 
Calcule automatiquement le nombre d'enfants et l'espacement entre eux

<div class="flex-space-30 || flex-space-40 || flex-space-50">
    <div class="enfant"></div>
    <div class="enfant"></div>
</div>
*/

[class*="flex-space-"]
{
    --space: 0;
    --width: 100%;
    --childs: 1;
    width: 100%;
    display: flex;
    flex-direction: row !important;
    justify-content: center;
    flex-wrap: wrap;
    gap: var(--space);
}

[class*="flex-space-"] > *
{
	width: calc(var(--width) - (var(--space) * (var(--childs) - 1)) / var(--childs)) !important;
}
 
/* Compter les enfants */

/* 2 enfants */
[class*="flex-space-"]:has(> *:nth-child(2)):not(:has(> *:nth-child(3))) > *
{
	--width: 50%;
	--childs: 2;
}
 
/* 3 enfants */

[class*="flex-space-"]:has(> *:nth-child(3)):not(:has(> *:nth-child(4))) > *
{
	--width: 33.3333%;
	--childs: 3;
}
 
/* 4 enfants */

[class*="flex-space-"]:has(> *:nth-child(4)):not(:has(> *:nth-child(5))) > *
{
	--width: 25%;
	--childs: 4;
}
 
/* 5 enfants */

[class*="flex-space-"]:has(> *:nth-child(5)):not(:has(> *:nth-child(6))) > *
{
	--width: 20%;
	--childs: 5;
}
 
/* 6 enfants */

[class*="flex-space-"]:has(> *:nth-child(6)):not(:has(> *:nth-child(7))) > *
{
	--width: 16.6667%;
	--childs: 6;
}
 
/* 7 enfants */

[class*="flex-space-"]:has(> *:nth-child(7)):not(:has(> *:nth-child(8))) > *
{
	--width: 14.2857%;
	--childs: 7;
}
 
/* 8 enfants */

[class*="flex-space-"]:has(> *:nth-child(8)):not(:has(> *:nth-child(9))) > *
{
	--width: 12.5%;
	--childs: 8;
}
 
/* 9 enfants */

[class*="flex-space-"]:has(> *:nth-child(9)):not(:has(> *:nth-child(10))) > *
{
	--width: 11.1111%;
	--childs: 9;
}
 
/* 10 enfants */

[class*="flex-space-"]:has(> *:nth-child(10)):not(:has(> *:nth-child(11))) > *
{
	--width: 10%;
	--childs: 10;
}

 
.flex-space-5
{
	--space: 5px;
}
 
.flex-space-10
{
	--space: 10px;
}
 
.flex-space-20
{
	--space: 20px;
}
 
.flex-space-30
{
	--space: 30px;
}
 
.flex-space-40
{
	--space: 40px;
}
 
.flex-space-50
{
	--space: 50px;
}
 
.flex-space-60
{
	--space: 60px;
}
 
.flex-space-70
{
	--space: 70px;
}
 
.flex-space-80
{
	--space: 80px;
}
 
.flex-space-90
{
	--space: 90px;
}
 
.flex-space-100
{
	--space: 100px;
}

@media (max-width: 768px)
{
    [class*="flex-space-"] > *
    {
        width: 100% !important;
    }
}
